<div class="padding" ng-controller="VocabListController">
  <super-navbar>
    <super-navbar-title ng-bind="navbarTitle"></super-navbar-title>
  </super-navbar>

<h2>Level 1 - Animals</h2>
Review the vocab in preparation for the virtual reality.
<br>Maybe add functionality for user to HEAR word too?
<br>
<br>

<ul class="vocab">
  <li>Cat - قط</li>
  <li>Cat - قط</li>
  <li>Cat - قط</li>
  <li>Cat - قط</li>
  <li>Cat - قط</li>
  <li>Cat - قط</li>
</ul>

</div>

<style>
  .vocab {
    font-size: 2em;
    line-height: 2.1em;
    text-align: center;
  }
</style>
