<div class="padding" ng-controller="VocabListController">
  <super-navbar>
    <super-navbar-title ng-bind="navbarTitle"></super-navbar-title>
  </super-navbar>

<h2>Level 1 - Animals</h2>
Review the vocab in preparation for the virtual reality.
<br>
The sound should play a dog bark, but I haven't gotten it to work yet.
<audio controls>
<source src="dog-bark.wav" type="audio/wav">
Your browser does not support the audio element.
</audio>

<ul class="vocab">

  <li>Cat - قط</li>
  <li>Cat - قط</li>
  <li>Cat - قط</li>
  <li>Cat - قط</li>
  <li>Cat - قط</li>
  <li>Cat - قط</li>
</ul>

</div>

<style>
  .vocab {
    font-size: 2em;
    line-height: 2.1em;
    text-align: center;
  }
</style>
